.answer-area {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    border: 1px solid $main-color;
}

.answer-heading {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.answer-tip-wrapper {
    display: flex;
    padding: 10px;
}

.answer-tip {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    font-style: italic;
    background-color: $secondary-color;
    color: rgb(63, 90, 13);
    box-shadow: 0 0 1px #0f0f0f;
    border-radius: 5px;
}

.answer-choises {
    font-size: 24px;
}

// wrong import
// 1. it should be before other content in file
// 2. you already have common styles in your style.scss, so this one will be same content in your ouput css file
@import "common";
